.fullwidth {
  width: 100%;
}

.margin {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.marginRight {
  margin-right: 20px;
}

.textEditorComponent {
  flex: 1 0 30%;
  height: 330px;
}

.textEditor {
  flex: 1 0 30%;
  height: 250px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.displayFlex {
  display: flex;
  align-items: center;
}

.flex-wrap {
  // width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.mt-50 {
  margin-top: 50px;
}

.requesturgent {
  display: flex;
  justify-content: space-between;
}

.halfWidth {
  width: 50%;
}

.headingButton {
  // remove this for changes
  display: flex;
  place-content: space-between;
}

.heading-Button {
  display: flex;
  place-content: space-between;
}

.marginTopSmall {
  margin-top: 20px;
}

.listImages {
  width: 100px;
  height: auto;
}

// .dashbord {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 500px;
//   text-align: center;

//   .p {
//     font-size: 50px;
//   }
// }

.radioDiv {
  display: flex;
  flex-direction: column;
  align-items: unset;
}

.radioGroupDiv {
  display: flex !important;
  align-items: center;
  margin-top: 10px !important;
}
.tooglebtn {
  .ant-switch-checked .ant-switch-handle {
    left: calc(100% - 15px - 4px - 1px);
  }
}
